body {
    color: white;
}

.outer {
    width: 100%;
    text-align: center;
}
#div_products {
    width: 500px;
    height: 125px;
    margin: auto;
    position: relative;
}
#left_product {
    left: 25%;
    width: 220px;
    height: 12px;
    position: absolute;   
}
#right_product {
    left: 70%;
    top: 10px;
    width: 150px;
    height: 100px;
    position: absolute;  
}
#select_product_div {
    width: 200px;
    height: 105px;
    float: right;
}
#label_files {
    float: left;
    width: 128px;
    height: 20px;
}
#div_files {
    width: 430px;
    height: 65px;
    margin: auto;
}
#files_upload {
    float: right;
    width: 300px;
}
#div_submit {
    width: 500px;
    height: 40px;
    margin: auto;
    position: relative;
}
#warning_div {
    position: absolute;
    top: -5px;
    height: 30px;
    width: 500px;
}
#submit_button {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 25%;
}
#submit {
    border: 1px solid #202463;
    color: #08421F;
    background-color: #3BC872;
    padding: 4px;
    width: 150px;
    border-radius: 5px;
}
#submit:hover {
    border: 1px solid #202463;
    color: #08421F;
    background-color : #34B767;
    cursor: pointer;
    padding: 4px;
    width: 150px;
    border-radius: 5px;
}
#confirm_form {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
}
#confirm_alert {
    color: #202463;
    display: none;
    position: absolute;
    text-align: center;
    font-size: 17px;
    background: linear-gradient(to bottom, #94C2FD, #7EDEE1);
    border: 2px solid #2F79D8;
}
#confirm {
    position: absolute;
    font-size: 14px;
    padding: 8px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #202463;
    color: #08421F;
    background-color: #3BC872;
}

#confirm:hover {
    position: absolute;
    font-size: 14px;
    padding: 8px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #202463;
    color: #08421F;
    background-color : #34B767;
    cursor: pointer;
}

#cancel {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    right: 20px;
    border: 1px solid #202463;
    color: #FEC1D2;
    background-color: #EA205A;
}

#cancel:hover {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    right: 20px;
    border: 1px solid #202463;
    background-color : #AE1541;
    cursor: pointer;
}

