#back_home {
    position: absolute;
    bottom: 10px;
    border: none;
    padding: 5px 10px;
    background-color: #3FC9E0;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}
#back_home:hover {
    background-color: #2098AC;
    cursor: pointer
}
