#back_home {
    position: absolute;
    bottom: 10px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #192064;
    border-radius: 8px;
    text-decoration: none;
}
#back_home:hover {
    background-color: #060827;
    cursor: pointer;
}
