.outer {
    width: 100%;
    text-align: center;
    color: white;
}
.separation{
    width: 100%;
    height: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link_button {
    border: none;
    padding: 13px 40px;
    border-radius: 8px;
    width: 300px;
    font-size: 17px;
    color: white;
    background-color: #EA205A;
    text-decoration: none;
}
.link_button:hover {
    background-color : #AE1541;
    cursor: pointer
}
