#left_graph {
    position: absolute;
    width: 45%;
    right: 51%;
}

#right_graph {
    position: absolute;
    width: 45%;
    left: 51%;
}

#graphs {
    width: 100%;
    position: relative;
}

.stats-container {
    padding: 1rem;
    background: transparent;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: white;
}