table {
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    left: 2%;
    border: transparent;
}
.tr_head {
    background-color: #323685;
}
.tr_body:nth-child(even):hover {
    position: relative;
    cursor: pointer;
    background: linear-gradient(to bottom, #111a4b, #233176);
}
.tr_body:nth-child(odd):hover {
    position: relative;
    cursor: pointer;
    background: linear-gradient(to bottom, #111a4b, #233176);
}
.tr_body:nth-child(even) {
    background: linear-gradient(to bottom, #475AB7, #30439F);
}
.tr_body:nth-child(odd) {
    background: linear-gradient(to bottom, #30439F, #475AB7);
}
img {
    height: 120px;
    width: 120px;
}
#back_home {
    position: absolute;
    top: 8px;
    left: -85px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #192064;
    border-radius: 8px;
    text-decoration: none;
}
#back_home:hover {
    background-color: #060827;
    cursor: pointer;
}     
#next_page {
    position: absolute;
    top: 8px;
    right: -325px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #EA205A;
    border-radius: 8px;
    text-decoration: none;
}
#next_page:hover {
    background-color : #AE1541;
    cursor: pointer;
}      
#back_page {
    position: absolute;
    top: 8px;
    left: -710px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #EA205A;
    border-radius: 8px;
    text-decoration: none;
}
#back_page:hover {
    background-color : #AE1541;
    cursor: pointer;
}    
#pos_center_div {
    position: relative;
    left: 50%;
    bottom: 1px;
    width: 25%;
    height: 30px;
}
.center_photos {
    justify-content: center;
}
.a_general {
    display: block;
    color: white;
    padding-bottom: 54px;
    padding-top: 54px;
    text-decoration: none;
}
.a_photos {
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
}