<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/agregar-elemento.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/back_button.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
        <title>Agregar producto</title>
    </head>
    <body>
        <h1 class="outer">Agregar Producto</h1>
        <div class="outer">
            <form id="add_product_form" method="post" enctype="multipart/form-data">
                
                <label for="type_selector">Tipo de producto*</label>
                <select name="type_selector" id="type_selector" onchange="updateProduct()" required>
                    <option value="" disabled selected>Seleccionar Tipo de producto</option>
                    <option value="Fruta">Fruta</option>
                    <option value="Verdura">Verdura</option>   
                </select><br><br>

                <div id="div_products">
                    <div id="left_product">
                        <label for="product_selector">Producto*</label>
                        <select name="product_selector" id="product_selector" size="6" multiple disabled required>
                            <option value="" disabled selected>Seleccionar producto</option>
                        </select><br><br>
                    </div>
                    <div id="right_product">
                        <span>Mantener Ctrl para seleccionar múltiples productos (5 elementos máximo)</span>
                    </div>
                </div>

                <label for="description">Descripción</label>
                <textarea name="description" id="description" style="width:250px;height:150px;" maxlength="300"></textarea><br><br>

                <div id="div_files">
                    <div id="label_files">
                        <label>Fotos del producto*</label>
                    </div>
                    <div id="files_upload">
                    </div>
                </div><br><br>
                
                <label for="region_selector">Región de origen*</label>
                <select name="region_selector" id="region_selector" onchange="updateRegion()" required>
                    <option value="" disabled selected>Seleccionar región</option>  
                </select><br><br>

                <label for="comuna_selector">Comuna*</label>
                <select name="comuna_selector" id="comuna_selector" required disabled>
                    <option value="" disabled selected>Seleccionar comuna</option>
                </select><br><br>

                <label for="productor_name">Nombre de Productor*</label>
                <input id="productor_name" name= "productor_name" size="80" maxlength="80" required><br><br>

                <label for="productor_email">Email de Productor*</label>
                <input id="productor_email" name="productor_email" size="30" required>
                
                <label for="phone_number">Número de celular</label>
                <input id="phone_number" name="phone_number" size="15" placeholder="56911223344"><br><br>

                <div id="div_submit">   
                    {% if send == True %}
                        <div id="warning_div" style="color: #C1FFCA;" ><span id="invalid_message">{{ message }}</span><br><br></div>
                    {% else %}
                        <div id="warning_div" style="color: #920202;" ><span id="invalid_message">{{ message }}</span><br><br></div>
                    {% endif %}
                    <div id="submit_button">
                        <button type="button" id="submit" >Agregar producto(s)</button><br>
                    </div>
                </div>       
                <div id="confirm_form">
                    <div id="confirm_alert">
                        <p>¿Confirma el registro de este producto?</p>
                        <button type="submit" id="confirm">Sí, confirmo</button>
                        <button type="button" id="cancel">No, quiero volver al formulario</button>
                    </div>
                </div><br>
            </form>
        </div>
        <a href="{{ url_for('index') }}" id="back_home">
            Volver a la página principal
        </a>
        <script src="{{ url_for('static', filename='js/add_product.js') }}"></script>
    </body>
</html>