<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion_pedido.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/back_button.css') }}">
        <title>Información pedido</title>
    </head>
    <body>
        <div id="principal_div">
            <div id="info_div">
                <h2>Información del Pedido</h2>
                <p><b>Tipo de producto:</b> {{ data["tipo"] }}</p>
                <p><b>Producto:</b> {{ data["list_fv"] }}</p>
                <p><b>Descripción:</b> {{ data["desc"] }} </p>
                <p><b>Región:</b> {{ data["region"] }} </p>
                <p><b>Comuna:</b> {{ data["comuna"] }} </p>
                <p><b>Nombre comprador:</b> {{ data["c_nombre"] }} </p>
                <p><b>Email comprador:</b> {{ data["c_email"] }} </p>
                <p><b>Número de contacto:</b> {{ data["c_number"] }} </p>
            </div>
        </div>
        <a href="{{ url_for('index') }}" id="back_home">
            Volver a la página principal
        </a>
        <script src="{{ url_for('static', filename='/js/informacion.js') }}"></script>
    </body>
</html>