<!DOCTYPE html>
    
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/ver_elementos.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/ver_productos.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
        <title>Ver productos</title>
    </head>
    <body>
        <table>
            <tr class="tr_head">
                <th>Tipo</th>
                <th>Producto(s)</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Fotos</th>
            </tr>
            {% if data %}
                {% for product in data %}
                    <tr class="tr_body">
                            <td>
                                <a class="a_general" href="{{ url_for('info_productos', product_id=product.id) }}">
                                    {{ product["tipo"] }}
                                </a>
                            </td>
                            <td>
                                <a class="a_general" href="{{ url_for('info_productos', product_id=product.id) }}">
                                    {{ product["list_fv"] }}
                                </a>
                            </td>
                            <td>
                                <a class="a_general" href="{{ url_for('info_productos', product_id=product.id) }}">
                                    {{ product["region"] }}
                                </a>
                            </td>
                            <td>
                                <a class="a_general" href="{{ url_for('info_productos', product_id=product.id) }}">
                                    {{ product["comuna"] }}
                                </a>
                            </td>
                            <td>
                                <a class="a_photos" href="{{ url_for('info_productos', product_id=product.id) }}">
                                    {% for photo in product.list_photos %}
                                        <img src={{photo}} alt="imagen de fruta o verdura">
                                    {% endfor %}
                                </a>
                            </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <div id="pos_center_div">
            <a href="{{ url_for('index') }}" id ="back_home">
                Volver a la página principal
            </a>
            {% if index > 0 %}
                {% set back_index = index - 5 %}
                <a  id ="back_page" href="{{ url_for('ver_productos', index=back_index) }}">
                    Anterior página
                </a>
            {% endif%}
            {% if last_id > 1 %}
                {% set next_index = index + 5 %}
                <a  id ="next_page" href="{{ url_for('ver_productos', index=next_index) }}">
                    Siguiente página
                </a>
            {% endif %}
        </div>
    </body>
</html>